Repository googleapis/nodejs-bigtable, pull requests merged in 2020-12, with the labels that each got.

#827 chore: generate GAPIC metadata JSON file
  src/v2/gapic_metadata.json
  synth.metadata
Labels: api: bigtable, cla: yes, context: full

#831 docs: add instructions for authenticating for system tests
  CONTRIBUTING.md
  README.md
  synth.metadata
Labels: api: bigtable, automerge, cla: yes, context: full

#830 feat: implement restore table to a different instance feature
  samples/backups.restore.js
  src/backup.ts
  src/instance.ts
  system-test/bigtable.ts
  test/backup.ts
  test/instance.ts
Labels: api: bigtable, cla: yes
