Repository googleapis/nodejs-bigtable, pull requests merged in 2020-11, with the labels that each got.

#818 build(node): add KOKORO_BUILD_ARTIFACTS_SUBDIR to env
  .kokoro/trampoline_v2.sh
  synth.metadata
Labels: api: bigtable, automerge, cla: yes, context: full

#819 fix: do not modify options object, use defaultScopes
  package.json
  protos/google/bigtable/admin/v2/bigtable_instance_admin.proto
  protos/google/bigtable/admin/v2/bigtable_table_admin.proto
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  src/v2/bigtable_client.ts
  src/v2/bigtable_instance_admin_client.ts
  src/v2/bigtable_table_admin_client.ts
  synth.metadata
  synth.py
  system-test/fixtures/sample/src/index.ts
  system-test/install.ts
Labels: api: bigtable, automerge, cla: yes

#817 feat(protos): update BigtableTableAdmin GetIamPolicy, change DeleteAppProfileRequest.ignore_warnings to REQUIRED
  synth.metadata
Labels: api: bigtable, cla: yes, context: full

#824 fix(browser): check for fetch on window
  protos/protos.json
  src/v2/bigtable_client.ts
  src/v2/bigtable_instance_admin_client.ts
  src/v2/bigtable_table_admin_client.ts
  synth.metadata
Labels: api: bigtable, cla: yes, context: partial

#825 docs: spelling correction for "targetting"
  README.md
  synth.metadata
Labels: api: bigtable, automerge, cla: yes, context: full

#755 revert!: remove failedLocation from getInstancesCallback/Response
  src/index.ts
  system-test/bigtable.ts
  test/index.ts
Labels: api: bigtable, cla: yes
