Repository googleapis/nodejs-bigtable, pull requests merged in 2021-05, with the labels that each got.

#868 build: corrects types in protos.d.ts
  protos/protos.d.ts
  protos/protos.js
  synth.metadata
Labels: api: bigtable, cla: yes, context: none

#863 feat: implement restore table to a different instance feature (#830)
  src/backup.ts
  src/instance.ts
  system-test/bigtable.ts
  test/backup.ts
  test/instance.ts
Labels: api: bigtable, automerge, cla: yes

#855 feat: implement support for clusters with CMEK encryption
  src/cluster.ts
  src/index.ts
  src/instance.ts
  system-test/bigtable.ts
  test/index.ts
  test/instance.ts
Labels: api: bigtable, cla: yes

#873 fix(deps): require google-gax v2.12.0
  package.json
Labels: api: bigtable, automerge, cla: yes

#882 chore: migrate to owl bot
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
  .github/generated-files-bot.yml
  .github/workflows/ci.yaml
  owlbot.py
  src/chunktransformer.ts
  src/family.ts
  src/filter.ts
  src/instance.ts
  src/row.ts
  src/table.ts
  src/v2/bigtable_client.ts
  src/v2/bigtable_instance_admin_client.ts
  src/v2/bigtable_table_admin_client.ts
  synth.metadata
  synth.py
  system-test/bigtable.ts
  system-test/mutate-rows.ts
  system-test/read-rows-acceptance-tests.ts
  test/app-profile.ts
  test/chunktransformer.ts
  test/family.ts
  test/filter.ts
  test/gapic_bigtable_instance_admin_v2.ts
  test/gapic_bigtable_table_admin_v2.ts
  test/gapic_bigtable_v2.ts
  test/instance.ts
  test/mutation.ts
  test/row.ts
  test/table.ts
Labels: api: bigtable, cla: yes
